@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollable-title span {
  display: inline-block;
  transition: transform 0.35s ease;
}

.scrollable-title:hover span {
  animation: scroll-text 6s linear infinite;
}

@keyframes scroll-text {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

